#form1 {
    min-height: 800px;
}


#cardArticulo {
    transition: all 0.2s ease;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 0.2rem;
}

#cardArticulo:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1);
}

#tituloPrincipal {
    font-size: 2.5rem;
    margin-right: 3rem;
}

#carrito {
    position: fixed;
    bottom: 100px;
    right: 50px;
}

.margin-botton {
    margin-bottom: 20px;
}

.footerMercado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.footerMercado p{
    text-align: center;
    color: rgb(153 153 153);
    font-size: 0.80em;
}
